<div class="jumbotron center">
  <h1>Welcome to My Pinterested App</h1>
  <p>Pretty cool, don't you think?</p>
  
  <%= link_to 'login', root_path, class: 'btn btn-default' %>
  <%= link_to 'login', root_path, class: 'btn btn-primary' %>
</div>
